$orange: #AE713A;
$green: #24646A;
$danger: #e85656;
<<<<<<< HEAD
$success: #90b900;
$beige: #F7EEE3;
$system: #FFCB47;
$frontend: #8AA1B1;
$backend: #59C3C3;
$bug: #4A5043;
$feature: #9AC2C9;
=======
$success: #90b900;
>>>>>>> master
