@import './../../assets/scss/all.scss';

.title-container {
    padding-top: 13%;
    color: $green;
    font-weight: bold;
    a {
        color: $orange;
        font-size: 1rem;
        line-height: 2;
        font-weight: 300;
        &:hover {
            text-decoration: none;
        }
    }
}
.form-container {
    .logo {
        text-align: center;
        img {
            height: 16rem;
        }
    }
}

@media screen and (max-width: 767px) {
    text-align: center;
}