.form-container {
    font-size: 1rem;
    color: #24646A;
    width: 60%;
    margin: 0 auto;
    padding: 5rem 0;
    legend {
        font-size: 1rem;
        font-weight: 700;
    }
    .checkbox {
        display: inline-block;
        margin: 0 1rem 1rem 0;
    }
    .tasks {
        margin-bottom: 1.25rem;
    }
    input[type=checkbox] {
        position: relative;
        border-radius:15px;
        -webkit-appearance:button;
        border: double 2px #24646A;
        background-color:transparent;
        color:#FFF;
        white-space: nowrap;
        overflow:hidden;
        width:1rem;
        height:1rem;
        margin-right: 0.6rem;
    }
    
    input[type=checkbox]:checked::after {
        position: absolute;
        top: -0.7rem;
        bottom: 0;
        left: -0.1rem;
        right: 0;
        content: "\00d7";
        font-size: 1.5rem;
        -webkit-text-fill-color: #24646A;
        text-align: center;
        }
    
    input[type=checkbox]:hover {
        box-shadow:0px 0px 10px #1300ff;
    }
    .form-control {
        &.ng-invalid.ng-touched {
            border: 2px solid #e85656;
        }
        &.ng-valid.ng-touched {
            border: 2px solid #90b900;            
        }
    }
    .submit {
        color: #ffffff;
    }
}