@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

body {
    font-family: 'Poppins', sans-serif; 
    &::after {
        opacity: 0.7;
        background-image: url('./assets/images/background-app.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}


form {
    appearance: none;
    width: 75%;
    margin: 0 auto;
    input {
        color: #24646A;
    }
    input:-webkit-autofill {
        -webkit-text-fill-color: #24646A !important;
     }
    button.submit {
        background-color: #24646A;
        border: none; 
    }
}
