<div class="kanban-container">
	<header>
		<button 
		class=" btn add-task"
		(click)="onAddTask()">+ Add new task
		</button>
	</header>
	<div class="page-title">
		<h1>{{title}}</h1>
	</div>
	<div class="tags-wrapper">
		<div class="legend">
			<i class="icon ion-ios-bookmark frontend"></i><span>Frontend</span>
			<i class="icon ion-ios-bookmark backend"></i><span>Backend</span>
			<i class="icon ion-ios-bookmark system"></i><span>System</span>
		</div>
		<div class="tag-vis" kanban-visualize [elements]="tasksWithTags" [groupArr]="group1"></div>
		<div class="tag-vis" kanban-visualize [elements]="tasksWithTags" [groupArr]="group2"></div>		
		<div class="legend">
			<i class="icon ion-ios-bookmark feature"></i><span>Feature</span>
			<i class="icon ion-ios-bookmark bug"></i><span>Bug</span>
		</div>
	</div>
	<div class="search-wrapper">
		<fieldset class="form-group">
			<input
				(keyup)="filterUsers($event)"
				class="task-search form-control form-control-md"
				placeholder="Search e.g. tags: feature, backend">
		</fieldset>
	</div>
	<div class="tasks-wrapper">
		<div class="container-group" *ngFor="let group of groups">
			<div class="group-handle"><h2>{{group.name}}</h2></div>
			<div class="container" dragula="ITEMS" [(dragulaModel)]="group.items" [attr.code]="group.code">
				<div class="item" *ngFor="let item of group.items" [attr.blocked] ="item.blocked">
					<button (click)="onEditTask(item.id)" class="edit-icon"><i class="icon ion-md-create"></i></button>
					<div class="title">
						<h3><span class="task-id">#{{item.id}} </span>{{item.name}}</h3>
					</div>
					<div class="tags">
						<p *ngFor="let t of item.tags"><i class="icon ion-ios-bookmark {{t.name}}"></i> {{t.name}}</p>
					</div>
					<div class="blocked">
							<i class="icon ion-ios-hand"></i><span *ngIf="item.blockedBy.length === 0"></span><span *ngFor="let b of item.blockedBy"> #{{b.id}} {{b.name | slice:0:10}} |</span>
				</div>
					<div class="assignee">
						<i class="icon ion-ios-person"></i> {{item.assignee? item.assignee.name: 'none assigned'}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>